:root {
    --api-out-font-size: 10rem;
}


.local {
    background-color: var(--main-blue);
    color: white;
    
    box-shadow: var(--box-shadow-default);
    
    border-radius: 2rem;
    
    height: 100%;
    width: 25%;
    
    box-sizing: border-box;
    padding: 3rem;
    
    display: none;
    flex-flow: column;
    gap: 2rem;

    transition: box-shadow .5s ease, width .5s ease;
}

.local:hover {
    box-shadow: 0 0 2rem var(--main-blue);
    width: 27%;
}

.local__main {
    background-color: rgb(27, 27, 27);
    border-radius: 2rem;
    height: 40%;

    padding: 2rem;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.local__main__img {
    width: 17rem;
}
.local__main__img img {
    height: 100%;
    width: 100%;
}

.local__main hr {
    width: 2px;
    border: none;
    height: 100%;
    background-color: white;
    margin: 0;
}

.local__main__temp {
    width: 45%;

    display: flex;
    justify-content: center;
}
.local__main__temp span {
    font-size: var(--api-out-font-size);
}

.local__location {
    background-color: rgb(27, 27, 27);
    border-radius: 2rem;
    height: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-location {
    height: 8rem;
}

.local__location span {
    font-size: 5rem;
}

.local__temp-range {
    display: flex;
    gap: 2rem;
    height: calc(100% - 2rem - 55%);
}

.local-min, .local-max {
    background-color: rgb(27, 27, 27);
    border-radius: 2rem;
    height: 100%;
    width: 100%;

    padding: 2rem;
    box-sizing: border-box;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.local-min h2, .local-max h2 {
    font-size: 3rem;

    margin: 0;
}

.temp-range {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.temp-range span {
    font-size: var(--api-out-font-size);
}

.local__temp-range hr {
    border: none;
    height: 2px;
    background-color: white;

    width: 100%;
}