@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {

    /* Paleta de cores */
        --main-purple: rgb(159, 57, 199);
        --main-blue: rgb(76, 168, 180);
    /**/

    /* Mudança de sombra */
        --box-shadow-default: 0 0 2rem black;
    /**/

    /* Mudança de background do termômetro */
        --termometer: #ddd;
    /**/

    /* Mudança de tamanho da fonte do local */
        --api-out-font-size: 10rem;
    /**/
    
}

html, body {
    font-size: 62.5%;
    font-family: Nunito;

    margin: 0;
    height: 100%;
}

body {
    background-color: var(--main-purple);

    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.main-container {
    display: flex;
    justify-content: space-evenly;

    height: 75%;
}