@media screen and (orientation: landscape) {
    body {
        min-width: 1500px;
        min-height: calc(670px + 25vh);
    }
    .temp-container, .termometer, .local {
        min-width: 500px;

        min-height: 670px;
    }
}

@media screen and (max-height: 875px), screen and (max-width: 1874px) {
    body {
        background-color: black;
    }
}

@media screen and (orientation: portrait) {
    html {
        height: 185vh;
    }

    body {
        background-color: var(--main-purple);
        align-items: center;

        margin: 20px;
    }

    .actions-container {
        min-width: initial;

        margin-bottom: 40px;

        position: sticky;
        top: 30px;

        order: 1;
        z-index: 10;
    }

    .actions-container form {
        width: 100%;
        gap: 5px;
        background-color: aliceblue;
        border-radius: 1rem;
        padding: 1rem;
    }
    
    .actions-container input,
    .actions-container select {
        padding: 0;
        width: 100%;
        font-size: 1.5rem;
        border-radius: .5rem;
        box-shadow: none;
    }

    .actions-container select {
        font-size: 1.2rem;
    }

    .actions-container input[type="number"] {
        padding-left: .5rem;
    }

    .actions-container input:hover,
    .actions-container select:hover {
        box-shadow: none;
    }

    .main-container {
        height: 100%;
        width: 80%;

        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: 160px;

        order: 2;
    }

    .temp-container, .termometer, .local {
        width: 100%;
        height: 70vh;
    }

    .temp-container__item {
        width: 100%;
        height: 25rem;
    }

    .item__text span {
        font-size: 6rem;
    }

    .local:hover {
        width: 100%;
    }
}