@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --main-purple: rgb(159, 57, 199);
    --main-blue: rgb(76, 168, 180);

    --box-shadow-default: 0 0 2rem black;

    /* Variável para mudança de temperatura do termômetro */
        --termometer: #ddd;
}

html, body {
    font-size: 62.5%;
    font-family: Nunito;

    margin: 0;
    height: 100%;
}

body {
    background-color: var(--main-purple);

    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.main-container {
    display: flex;
    justify-content: space-evenly;

    height: 75%;
}





/* Saídas de Temperatura */

    .temp-container {
        width: 25%;
        
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        gap: 5rem;
    }

    .temp-container__item {
        background-color: var(--main-blue);
        box-shadow: var(--box-shadow-default);
        
        border-radius: 2rem;

        height: 20rem;
        width: 50rem;

        display: flex;
        flex-flow: column;
        align-items: center;

        transition: padding .5s ease, box-shadow .5s ease;
    }

    .temp-container__item h1 {
        font-size: 2.5rem;

        margin-top: 2rem;
        margin-bottom: 0;
    }

    .temp-container__item hr {
        width: 80%;
        height: 2px;

        background-color: black;

        border: none;
    }

    .item__text {
        justify-self: center;
        display: flex;
    }
    .item__text span {
        align-self: center;
        font-size: 9rem;
    }

    .temp-container__item:hover {
        padding: 1rem;
        
        box-shadow: 0 0 2rem var(--main-blue);
    }

/*  */





/* Termômetro */

    .termometer {
        background-color: var(--main-blue);
        
        box-shadow: var(--box-shadow-default);

        border-radius: 2rem;
        
        height: 100%;
        width: 25%;

        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        transition: padding .5s ease, box-shadow .5s ease;
    }

    .termometer:hover {
        padding: 0 1rem;
        
        box-shadow: 0 0 2rem var(--main-blue);
    }

    .progress-container {
        background-color: #ddd;

        border-radius: 2rem;

        width: 3rem;
        height: 50%;

        position: relative;

        display: flex;
        justify-content: center;
    }

    .progress-bar {
        background-color: var(--termometer);
        color: white;
        
        border-radius: 1rem;

        height: 0%;
        width: 60%;
        
        text-align: center;

        position: absolute;
        bottom: 0;

        z-index: 1;

        transition: height .5s ease, background-color .5s ease;
    }

    .progress-container::after {
        content: "";
        display: block;

        height: 5rem;
        width: 5rem;

        background-color: #ddd;
        border-radius: 50%;

        position: absolute;
        left: -1rem;
        bottom: -2.5rem;

        z-index: 0;
    }
    
    .progress-container::before {
        content: "";
        display: block;

        height: 3.5rem;
        width: 3.5rem;

        background-color: var(--termometer);
        border-radius: 50%;

        position: absolute;
        bottom: -1.75rem;

        z-index: 1;

        transition: background-color .5s ease;
    }

    #max, #min {
        font-size: 2rem;
        font-weight: 600;
    }

    #max::before, #min::before {
        content: "";
        display: block;

        height: .5rem;
        width: 2rem;

        background-color: black;

        position: absolute;
        left: -3rem;
        top: 1rem;

        z-index: 2;
    }

    #max {
        position: absolute;
        top: 10%;
        left: 5rem;
    }

    #min {
        position: absolute;
        bottom: 10%;
        left: 5rem;
    }

/*  */





/* Ações */

    .actions-container form {
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    .actions-container input,
    .actions-container select {
        background-color: var(--main-blue);
        
        box-shadow: var(--box-shadow-default);

        border: none;
        border-radius: 2rem;

        font-family: Nunito;
        font-size: 2.4rem;
        font-weight: 600;

        width: 17rem;
        
        box-sizing: border-box;
        padding: 1.6rem;   

        transition: box-shadow .3s ease;
    }

    .actions-container input:hover,
    .actions-container select:hover {
        border: none;
        outline: none;

        box-shadow: 0 0 2rem var(--main-blue);
    }

    #in-back {
        display: none;
    }

/*  */





/* local */

    .local {
        background-color: var(--main-blue);
        color: white;
        
        box-shadow: var(--box-shadow-default);
        
        border-radius: 2rem;
        
        height: 100%;
        width: 25%;
        
        box-sizing: border-box;
        padding: 3rem;
        
        display: none;
        flex-flow: column;
        gap: 2rem;

        transition: box-shadow .5s ease, width .5s ease;
    }

    .local:hover {
        box-shadow: 0 0 2rem var(--main-blue);
        width: 27%;
    }
    
    .local__main {
        background-color: blue;
        border-radius: 2rem;
        height: 40%;

        padding: 2rem;
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .local__main__img {
        width: 17rem;
    }
    .local__main__img img {
        height: 100%;
        width: 100%;
    }

    .local__main hr {
        width: 2px;
        border: none;
        height: 100%;
        background-color: white;
        margin: 0;
    }

    .local__main__temp {
        width: 45%;

        display: flex;
        justify-content: center;
    }
    .local__main__temp span {
        font-size: 10rem;
    }

    .local__location {
        background-color: blue;
        border-radius: 2rem;
        height: 15%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .local__location span {
        font-size: 5rem;
    }

    .local__temp-range {
        display: flex;
        gap: 2rem;
        height: calc(100% - 2rem - 55%);
    }

    .local-min, .local-max {
        background-color: blue;
        border-radius: 2rem;
        height: 100%;
        width: 100%;

        padding: 2rem;
        box-sizing: border-box;

        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .local-min h2, .local-max h2 {
        font-size: 3rem;

        margin: 0;
    }

    .temp-range {
        flex-grow: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .temp-range span {
        font-size: 10rem;
    }
    
    .local__temp-range hr {
        border: none;
        height: 2px;
        background-color: white;

        width: 100%;
    }
/*  */