@media screen and (max-width: 900px) {

    html {
        height: 185vh;
    }

    body {
        margin: 20px 0;
        
        align-items: center;
    }

    /* Actions */

        .actions-container {
            min-width: initial;

            margin-bottom: 40px;

            position: sticky;
            top: 30px;

            order: 1;
            z-index: 10;
        }

        .actions-container form {
            width: 100%;
            gap: 5px;
            background-color: aliceblue;
            border-radius: 1rem;
            padding: 1rem;
        }
        
        .actions-container input,
        .actions-container select {
            padding: 0;
            width: 100%;
            font-size: 1.5rem;
            border-radius: .5rem;
            box-shadow: none;
        }

        .actions-container select {
            font-size: 1.2rem;
        }

        .actions-container input[type="number"] {
            padding-left: .5rem;
        }

        .actions-container input:hover,
        .actions-container select:hover {
            box-shadow: none;
        }

    /**/

    /* main container geral */

        .main-container {
            height: 100%;
            width: 80%;

            flex-flow: column nowrap;
            align-items: center;
            justify-content: flex-start;
            gap: 160px;

            order: 2;
        }

        .temp-container, .termometer, .local {
            width: 100%;
            height: 70vh;
        }

    /**/

    /* temp_output */

        .temp-container__item {
            width: 100%;
            height: 25rem;
        }

        .item__text span {
            font-size: 6rem;
        }

    /**/

    /* local */

        .local:hover {
            width: 100%;
        }

        .local__main__img {
            height: 50%;
            width: unset;
        }

        .local__main__img img {
            height: 100%;
            width: unset;
        }

        .local__main {
            flex-flow: column;
        }

        .local__main hr {
            height: 2px;
            width: 100%;
        }

    /**/
}

/* Media-Query para ajustar as condições do icon e temperatura principal de Local */
    @media screen
    and (min-width: 550px) {

        .local__main {
            flex-flow: row;
        }
        
        .local__main__img, .local__main__temp {
            width: 50%;
        }
        
        .local__main__img {
            height: 100%;
        }
        
        .local__main__img img {
            height: 100%;
        }
        
        .local__main hr {
            height: 100%;
            width: 2px;
        }
        
    }

/**/